themes/default/templates/template.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.openrat.de/template"
	targetNamespace="http://www.openrat.de/template" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	xmlns:Q1="http://www.openrat.de/template#Simple">

	<xsd:element name="page" type="pageType" />
	<xsd:complexType name="pageType">
		<xsd:choice maxOccurs="unbounded" minOccurs="0">
			<xsd:element name="table" type="tableType" />
		</xsd:choice>
		<xsd:attribute name="class" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="tableType">
		<xsd:choice maxOccurs="unbounded" minOccurs="0">
			<xsd:element ref="row" maxOccurs="unbounded" minOccurs="0"></xsd:element>
			<xsd:element ref="if" maxOccurs="unbounded" minOccurs="0"></xsd:element>
			<xsd:element ref="list" maxOccurs="1" minOccurs="0"></xsd:element>
		</xsd:choice>
		<xsd:attribute name="padding" type="xsd:int" />
		<xsd:attribute name="space" type="xsd:int" />
		<xsd:attribute name="width" type="xsd:string" />
	</xsd:complexType>
	<xsd:complexType name="rowType">
		<xsd:choice maxOccurs="unbounded" minOccurs="0">
			<xsd:element maxOccurs="unbounded" name="cell" type="cellType" />
		</xsd:choice>
		<xsd:attributeGroup ref="universal"></xsd:attributeGroup>
	</xsd:complexType>
	<xsd:complexType name="cellType">
		<xsd:choice maxOccurs="unbounded" minOccurs="0">
			<xsd:element ref="part" maxOccurs="unbounded" minOccurs="0">
			</xsd:element>
			<xsd:element ref="image" maxOccurs="unbounded" minOccurs="0">
			</xsd:element>
			<xsd:element ref="text" maxOccurs="unbounded" minOccurs="0">
			</xsd:element>
			<xsd:element ref="fieldset" maxOccurs="unbounded"
				minOccurs="0">
			</xsd:element>
			<xsd:element ref="button" maxOccurs="unbounded"
				minOccurs="0">
			</xsd:element>
		</xsd:choice>
		<xsd:attribute name="width" type="xsd:int" />
		<xsd:attributeGroup ref="universal"></xsd:attributeGroup>
		<xsd:attribute name="colspan" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="url" type="xsd:string"></xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="textType">
		<xsd:choice maxOccurs="unbounded" minOccurs="0"></xsd:choice>
		<xsd:attribute name="title" type="xsd:string" />
		<xsd:attribute name="text" type="xsd:string" />
		<xsd:attribute name="var" type="xsd:string"></xsd:attribute>
		<xsd:attributeGroup ref="universal"></xsd:attributeGroup>
		<xsd:attribute name="key" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="value" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="raw" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="maxlength" type="xsd:int"></xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="imageType">
		<xsd:attribute name="icon" type="xsd:string" />
		<xsd:attribute name="align" type="xsd:string" />
		<xsd:attribute name="url" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="size" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="title" type="xsd:string"></xsd:attribute>
		<xsd:attributeGroup ref="universal"></xsd:attributeGroup>
		<xsd:attribute name="type" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="file" type="xsd:string"></xsd:attribute>
	</xsd:complexType>


	<xsd:element name="output" type="outputType"></xsd:element>

	<xsd:element name="header" type="headerType"></xsd:element>

	<xsd:element name="part" type="partType"></xsd:element>



	<xsd:complexType name="headerType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="views" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="back" type="xsd:boolean"></xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>

	</xsd:complexType>

	<xsd:element name="form" type="formType"></xsd:element>

	<xsd:element name="input" type="inputType"></xsd:element>

	<xsd:element name="list" type="listType"></xsd:element>

	<xsd:element name="button" type="xsd:string"></xsd:element>

	<xsd:element name="cell" type="cellType"></xsd:element>


	<xsd:element name="fieldset" type="fieldsetType"></xsd:element>

	<xsd:element name="if" type="ifType"></xsd:element>

	<xsd:element name="else" type="xsd:string"></xsd:element>

	<xsd:element name="logo" type="xsd:string"></xsd:element>



	<xsd:element name="password" type="xsd:string"></xsd:element>

	<xsd:element name="radio" type="radioType"></xsd:element>


	<xsd:element name="row" type="rowType"></xsd:element>

	<xsd:element name="radiobox" type="xsd:string"></xsd:element>

	<xsd:element name="selectbox" type="selectBoxType"></xsd:element>

	<xsd:element name="set" type="xsd:string"></xsd:element>

	<xsd:element name="table" type="tableType"></xsd:element>

	<xsd:element name="text" type="textType"></xsd:element>

	<xsd:element name="upload" type="xsd:string"></xsd:element>

	<xsd:element name="user" type="userType"></xsd:element>

	<xsd:complexType name="fieldsetType">
		<xsd:choice maxOccurs="unbounded" minOccurs="0">
			<xsd:element ref="part" maxOccurs="unbounded" minOccurs="0">
			</xsd:element>
			<xsd:element ref="label" maxOccurs="unbounded" minOccurs="0">
			</xsd:element>
			<xsd:element ref="selectbox" maxOccurs="unbounded"
				minOccurs="0">
			</xsd:element>
			<xsd:element ref="if" maxOccurs="unbounded" minOccurs="0"></xsd:element>
		</xsd:choice>
		<xsd:attribute name="title" type="xsd:string"></xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="partType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element ref="text" maxOccurs="unbounded"
				minOccurs="0">
			</xsd:element>
			<xsd:element ref="checkbox" maxOccurs="unbounded"
				minOccurs="0">
			</xsd:element>
			<xsd:element ref="label" maxOccurs="unbounded"
				minOccurs="0">
			</xsd:element>
			<xsd:element ref="radiobox" maxOccurs="unbounded"
				minOccurs="0">
			</xsd:element>
			<xsd:element ref="selectbox" maxOccurs="unbounded"
				minOccurs="0">
			</xsd:element>
			<xsd:element ref="newline" maxOccurs="unbounded"
				minOccurs="0">
			</xsd:element>
			<xsd:element ref="input" maxOccurs="unbounded"
				minOccurs="0">
			</xsd:element>
			<xsd:element ref="fieldset" maxOccurs="unbounded"
				minOccurs="0">
			</xsd:element>
			<xsd:element ref="image" maxOccurs="unbounded"
				minOccurs="0">
			</xsd:element>
			<xsd:element ref="table" maxOccurs="unbounded"
				minOccurs="0">
			</xsd:element>
			<xsd:element ref="link" maxOccurs="unbounded"
				minOccurs="0">
			</xsd:element>
			<xsd:element ref="button" maxOccurs="unbounded"
				minOccurs="0">
			</xsd:element>
			<xsd:element ref="part" maxOccurs="unbounded"
				minOccurs="0">
			</xsd:element>
			<xsd:element ref="radio"></xsd:element>
			<xsd:element ref="inputarea"></xsd:element>
			<xsd:element ref="date"></xsd:element>
			<xsd:element ref="user"></xsd:element>
			<xsd:element ref="if"></xsd:element>
		</xsd:choice>
		<xsd:attributeGroup ref="universal"></xsd:attributeGroup>
	</xsd:complexType>

	<xsd:complexType name="outputType">
		<xsd:choice maxOccurs="unbounded" minOccurs="0">
			<xsd:element ref="header" minOccurs="0" maxOccurs="1"></xsd:element>
			<xsd:element ref="form" minOccurs="0"></xsd:element>
			<xsd:element ref="part" minOccurs="0"></xsd:element>
			<xsd:element ref="table" maxOccurs="unbounded" minOccurs="0"></xsd:element>
		</xsd:choice>
	</xsd:complexType> 

	<xsd:element name="label" type="labelType"></xsd:element>

	<xsd:complexType name="formType">
		<xsd:choice maxOccurs="unbounded" minOccurs="0">
			<xsd:element ref="fieldset" maxOccurs="unbounded"
				minOccurs="0">
			</xsd:element>
			<xsd:element ref="part" maxOccurs="unbounded"
				minOccurs="0">
			</xsd:element>
			<xsd:element ref="table" maxOccurs="unbounded"
				minOccurs="0">
			</xsd:element>
			<xsd:element ref="if" maxOccurs="unbounded" minOccurs="0"></xsd:element>
		</xsd:choice>

		<xsd:attribute name="method" type="xsd:string"></xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="labelType">
		<xsd:choice maxOccurs="unbounded" minOccurs="0">
			<xsd:element ref="text" maxOccurs="unbounded" minOccurs="0"></xsd:element>
		</xsd:choice>
		<xsd:attribute name="for" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="key" type="xsd:string"></xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="inputType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="size" type="xsd:integer"></xsd:attribute>
				<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="maxlength" type="xsd:integer"></xsd:attribute>
				<xsd:attribute name="readonly" type="xsd:string"></xsd:attribute>
				<xsd:attribute name="class" type="xsd:string"></xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>


	<xsd:attributeGroup name="universal">
		<xsd:attribute name="class" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="id" type="xsd:string"></xsd:attribute>
	</xsd:attributeGroup>


	<xsd:complexType name="selectBoxType">
		<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="default" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="list" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="addempty" type="xsd:boolean"></xsd:attribute>
	</xsd:complexType>

	<xsd:element name="newline" type="xsd:string"></xsd:element>

	<xsd:element name="link" type="linkType"></xsd:element>

	<xsd:complexType name="linkType">
		<xsd:choice maxOccurs="unbounded" minOccurs="0">
			<xsd:element ref="text" maxOccurs="unbounded"
				minOccurs="0">
			</xsd:element>
			<xsd:element ref="image" maxOccurs="unbounded"
				minOccurs="0">
			</xsd:element>
			<xsd:choice maxOccurs="unbounded" minOccurs="0"></xsd:choice>
		</xsd:choice>
		<xsd:attribute name="type" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="class" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="action" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="subaction" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="id" type="xsd:string"></xsd:attribute>
	</xsd:complexType>

	<xsd:element name="image" type="imageType"></xsd:element>

	<xsd:complexType name="listType">
    	<xsd:choice maxOccurs="unbounded" minOccurs="0">
    		<xsd:element ref="row" maxOccurs="unbounded"
    			minOccurs="0">
    		</xsd:element>
    	</xsd:choice>
    	<xsd:attribute name="list" type="xsd:string"></xsd:attribute>
    	<xsd:attribute name="extract" type="xsd:boolean"></xsd:attribute>
    	<xsd:attribute name="value" type="xsd:string"></xsd:attribute>
    </xsd:complexType>

	<xsd:complexType name="ifType">
		<xsd:choice maxOccurs="unbounded" minOccurs="0">
			<xsd:element ref="row" maxOccurs="unbounded"
				minOccurs="0">
			</xsd:element>
			<xsd:element ref="part" maxOccurs="unbounded"
				minOccurs="0">
			</xsd:element>
			<xsd:element ref="text"></xsd:element>
			<xsd:element ref="fieldset"></xsd:element>
			<xsd:element ref="link"></xsd:element>
			<xsd:element ref="image"></xsd:element>
			<xsd:element ref="if"></xsd:element>
		</xsd:choice>
		<xsd:attribute name="true" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="false" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="empty" type="xsd:string"></xsd:attribute>
		<xsd:attribute name="not" type="xsd:boolean"></xsd:attribute>
		<xsd:attribute name="present" type="xsd:string"></xsd:attribute>
	</xsd:complexType>

	<xsd:simpleType name="formMethodType">
    	<xsd:restriction base="xsd:string">
    		<xsd:enumeration value="value"></xsd:enumeration>
    		<xsd:enumeration value="value1"></xsd:enumeration>
    		<xsd:enumeration value="value2"></xsd:enumeration>
    	</xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="checkbox" type="checkboxType"></xsd:element>
    
    <xsd:complexType name="checkboxType">
    	<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
        <xsd:attributeGroup ref="universal"></xsd:attributeGroup>
    </xsd:complexType>

    <xsd:complexType name="radioType">
    	<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
    	<xsd:attributeGroup ref="universal"></xsd:attributeGroup>
    	<xsd:attribute name="value" type="xsd:string"></xsd:attribute>
    </xsd:complexType>

    <xsd:element name="inputarea" type="inputareaType"></xsd:element>
    
    <xsd:element name="date" type="dateType"></xsd:element>
    
    <xsd:complexType name="userType">
    	<xsd:attribute name="user" type="xsd:string"></xsd:attribute>
    </xsd:complexType>
    
    <xsd:complexType name="dateType">
    	<xsd:attribute name="date" type="xsd:string"></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="inputareaType">
    	<xsd:attribute name="name" type="xsd:string"></xsd:attribute>
        <xsd:attributeGroup ref="universal"></xsd:attributeGroup>
    </xsd:complexType>
</xsd:schema>